<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "testapp/bootstrap.css" %}">

</head>
<body>

<h1 class="text-center   alert alert-info">Upload Image
<form method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="upload">
</form></h1>

<div class="container">
<div class="row">

{% for  i in i %}
    <div class="col-4 ">
    <div class="card m-4">
<img src="{{ i.image.url }}" width="200px" height="200px" class="card-img-top">

    <div class="card-footer">
    <p class="text-muted">{{ i.date }}</p>
    </div>
    </div>
    </div>
{% endfor %}
</div>
</div>

</body>
</html>
